<!DOCTYPE html>
<html>

<head>
    <title>감귤통통</title>
</head>

<body>

    <h1>일정 관리</h1>

    <form id="form" action="calendar-event/all/info" method="get">
        <button style="width: 200px" type="submit">전체 일정 조회</button>
    </form>

    <form id="form" action="calendar-event/company/info" method="get">
        <button style="width: 200px" type="submit">회사 일정 조회</button>
    </form>

    <form id="form" action="calendar-event/school/info" method="get">
        <button style="width: 200px" type="submit">학교 일정 조회</button>
    </form>

    <form id="form" action="calendar-event/etc/info" method="get">
        <button style="width: 200px" type="submit">기타 일정 조회</button>
    </form>

    <form id="form" action="calendar-event/add" method="post">
        일정 추가<br><br>
        <input style="width: 200px" type="text" name="title" placeholder="제목" required /><br>
        <input style="width: 200px" type="text" name="date" placeholder="날짜" required /><br>
        <input style="width: 200px" type="text" name="time" placeholder="시간" required /><br>

        <br>
        <input type="radio" name="type" value="company" checked />회사
        <input type="radio" name="type" value="school" />학교
        <input type="radio" name="type" value="etc" />기타
        <br><br>

        <button style="width: 200px" type="submit">추가</button>
        <br>
    </form>

    <form id="form" action="calendar-event/update" method="post">
        일정 수정<br><br>
        <input style="width: 200px" type="text" name="title" placeholder="제목" required /><br>
        <input style="width: 200px" type="text" name="date" placeholder="날짜" required /><br>
        <input style="width: 200px" type="text" name="time" placeholder="시간" required /><br>

        <br>
        <input type="radio" name="type" value="company" checked />회사
        <input type="radio" name="type" value="school" />학교
        <input type="radio" name="type" value="etc" />기타
        <br><br>

        <button style="width: 200px" type="submit">수정</button>
        <br>
    </form>

    <form id="form" action="calendar-event/delete" method="get">
        일정 삭제<br><br>
        <input style="width: 200px" type="text" name="title" placeholder="제목" required /><br><br>
        <button style="width: 200px" type="submit">삭제</button>
    </form>

</body>

</html>